<a href="https://colab.research.google.com/github/sabaalmas/Java-Coding-Problems/blob/master/A_5_Spark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Name : Almas Saba
# Student id: 40156359

!apt-get install openjdk-8-jdk-headless -qq > /dev/null


!wget -q https://dlcdn.apache.org/spark/spark-3.2.0/spark-3.2.0-bin-hadoop3.2.tgz


!tar xf spark-3.2.0-bin-hadoop3.2.tgz


!pip install -q findspark

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.2.0-bin-hadoop3.2"

In [ ]:
import findspark
findspark.init()

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.master("local").appName("APP").getOrCreate()
spark

In [ ]:
from pyspark.sql import functions as F

In [ ]:
M_df = spark.read.csv("/content/movies.csv", header=True, inferSchema=True)

In [ ]:
M_df2 = M_df.filter(F.col("genres").contains("Drama"))

In [ ]:
print("Total number of movies falling under genre Drama are :"
  ,M_df2.count())

Total number of movies falling under genre Drama are : 4361

In [ ]:
from pyspark.sql import functions as F

ratings_df = spark.read.csv("/content/ratings.csv", header=True, inferSchema=True)
ratings_df.where(F.col("rating").isNotNull()).show()
ratings_df.select("movieId").distinct().show()
ratings_df.select("movieId").distinct().count()

+------+-------+------+---------+
|userId|movieId|rating|timestamp|
+------+-------+------+---------+
|     1|      1|   4.0|964982703|
|     1|      3|   4.0|964981247|
|     1|      6|   4.0|964982224|
|     1|     47|   5.0|964983815|
|     1|     50|   5.0|964982931|
|     1|     70|   3.0|964982400|
|     1|    101|   5.0|964980868|
|     1|    110|   4.0|964982176|
|     1|    151|   5.0|964984041|
|     1|    157|   5.0|964984100|
|     1|    163|   5.0|964983650|
|     1|    216|   5.0|964981208|
|     1|    223|   3.0|964980985|
|     1|    231|   5.0|964981179|
|     1|    235|   4.0|964980908|
|     1|    260|   5.0|964981680|
|     1|    296|   3.0|964982967|
|     1|    316|   3.0|964982310|
|     1|    333|   5.0|964981179|
|     1|    349|   4.0|964982563|
+------+-------+------+---------+
only showing top 20 rows

+-------+
|movieId|
+-------+
|   1580|
|   2366|
|   3175|
|   1088|
|  32460|
|  44022|
|  96488|
|   1238|
|   1342|
|   1591|
|   1645|
|   4519|
|   2142|
|    471|
|   3997|
|    833|
|   3918|
|   7982|
|   1959|
|  68135|
+-------+
only showing top 20 rows

9724

In [ ]:
##. 3. Who gave the most ratings, how many rates did he make?
from pyspark.sql import functions as F


rate_df = spark.read.csv("ratings.csv", header=True, inferSchema=True)
rate_df.cache()
rate_df2 = rate_df.groupby('userId').count().sort('count', ascending=False)
rate_df2.first()

Row(userId=414, count=2698)

In [ ]:
##. 4. Compute min, average, max rating per movie.
from pyspark.sql import functions as F

df = spark.read.csv("ratings.csv", header=True, inferSchema=True)
df.cache()
df.groupBy("movieId").agg(F.avg('rating'), F.min('rating'),F.max('rating')).sort('movieId', ascending=True).show()

+-------+------------------+-----------+-----------+
|movieId|       avg(rating)|min(rating)|max(rating)|
+-------+------------------+-----------+-----------+
|      1|3.9209302325581397|        0.5|        5.0|
|      2|3.4318181818181817|        0.5|        5.0|
|      3|3.2596153846153846|        0.5|        5.0|
|      4| 2.357142857142857|        1.0|        3.0|
|      5|3.0714285714285716|        0.5|        5.0|
|      6| 3.946078431372549|        1.0|        5.0|
|      7| 3.185185185185185|        1.0|        5.0|
|      8|             2.875|        1.0|        5.0|
|      9|             3.125|        1.5|        5.0|
|     10| 3.496212121212121|        0.5|        5.0|
|     11|3.6714285714285713|        1.0|        5.0|
|     12|2.4210526315789473|        1.0|        5.0|
|     13|             3.125|        2.0|        4.0|
|     14|3.8333333333333335|        3.0|        5.0|
|     15|               3.0|        1.0|        5.0|
|     16| 3.926829268292683|        1.0|        5.0|
|     17|3.7761194029850746|        0.5|        5.0|
|     18|               3.7|        2.0|        5.0|
|     19| 2.727272727272727|        1.0|        5.0|
|     20|               2.5|        1.0|        4.0|
+-------+------------------+-----------+-----------+
only showing top 20 rows

In [ ]:
##. 5. Output dataset containing users that have rated a movie but not tagged it.
from pyspark.sql import functions as F

df_ratings = spark.read.csv("ratings.csv", header=True, inferSchema=True).select('userId','movieId','rating')
df_tags = spark.read.csv("tags.csv", header=True, inferSchema=True).select('userId','movieId','tag')
df_ratings = df_ratings.join(df_tags, on=['userId','movieId'], how='left')
df_ratings.filter((df_ratings.rating.isNotNull()) & (df_ratings.tag.isNull())).show()

+------+-------+------+----+
|userId|movieId|rating| tag|
+------+-------+------+----+
|     1|      1|   4.0|null|
|     1|      3|   4.0|null|
|     1|      6|   4.0|null|
|     1|     47|   5.0|null|
|     1|     50|   5.0|null|
|     1|     70|   3.0|null|
|     1|    101|   5.0|null|
|     1|    110|   4.0|null|
|     1|    151|   5.0|null|
|     1|    157|   5.0|null|
|     1|    163|   5.0|null|
|     1|    216|   5.0|null|
|     1|    223|   3.0|null|
|     1|    231|   5.0|null|
|     1|    235|   4.0|null|
|     1|    260|   5.0|null|
|     1|    296|   3.0|null|
|     1|    316|   3.0|null|
|     1|    333|   5.0|null|
|     1|    349|   4.0|null|
+------+-------+------+----+
only showing top 20 rows

In [ ]:
##. 6. Output dataset containing users that have rated AND tagged a movie.
from pyspark.sql import functions as F

df_ratings = spark.read.csv("ratings.csv", header=True, inferSchema=True).select('userId','movieId','rating')
df_tags = spark.read.csv("tags.csv", header=True, inferSchema=True).select('userId','movieId','tag')
df_ratings = df_ratings.join(df_tags, on=['userId','movieId'], how='left')
df_ratings.filter((df_ratings.rating.isNotNull()) & (df_ratings.tag.isNotNull())).show()

+------+-------+------+-----------------+
|userId|movieId|rating|              tag|
+------+-------+------+-----------------+
|     2|  60756|   5.0|     will ferrell|
|     2|  60756|   5.0|  Highly quotable|
|     2|  60756|   5.0|            funny|
|     2|  89774|   5.0|        Tom Hardy|
|     2|  89774|   5.0|              MMA|
|     2|  89774|   5.0|     Boxing story|
|     2| 106782|   5.0|  Martin Scorsese|
|     2| 106782|   5.0|Leonardo DiCaprio|
|     2| 106782|   5.0|            drugs|
|     7|  48516|   1.0|     way too long|
|    18|    431|   4.0|            mafia|
|    18|    431|   4.0|         gangster|
|    18|    431|   4.0|        Al Pacino|
|    18|   1221|   5.0|            Mafia|
|    18|   1221|   5.0|        Al Pacino|
|    18|   5995|   4.5|       true story|
|    18|   5995|   4.5|        holocaust|
|    18|  44665|   4.5|     twist ending|
|    18|  52604|   4.5|     twist ending|
|    18|  52604|   4.5|  courtroom drama|
+------+-------+------+-----------------+
only showing top 20 rows

In [ ]:
##. 7. Output dataset showing the number of movies per Genre per Year (movies will be counted many times if it's associated with multiple genres).
from pyspark.sql import functions as F


df_movies = spark.read.csv("movies.csv", header=True, inferSchema=True)\
    .withColumn('year', F.regexp_extract(F.col('title'), '\(\d{4}\)', 0))\
    .withColumn('year', F.regexp_replace('year', '[\(),]', ''))\
    .select('year','genres')

df_movies = df_movies.withColumn('genres',F.explode(F.split(F.col("genres"), "\|+")))\
    .filter(df_movies.year != 0)\
    .groupBy('year','genres').count().sort('year','genres')

df_movies.show(100)

+----+-----------+-----+
|year|     genres|count|
+----+-----------+-----+
|1902|     Action|    1|
|1902|  Adventure|    1|
|1902|    Fantasy|    1|
|1902|     Sci-Fi|    1|
|1903|      Crime|    1|
|1903|    Western|    1|
|1908|  Animation|    1|
|1908|     Comedy|    1|
|1908|     Sci-Fi|    1|
|1915|      Drama|    1|
|1915|        War|    1|
|1916|     Action|    1|
|1916|  Adventure|    1|
|1916|     Comedy|    1|
|1916|      Drama|    1|
|1916|    Fantasy|    1|
|1916|    Romance|    1|
|1916|     Sci-Fi|    1|
|1917|     Comedy|    1|
|1919|     Comedy|    1|
|1919|      Drama|    1|
|1920|     Comedy|    1|
|1920|      Crime|    1|
|1920|    Fantasy|    1|
|1920|     Horror|    1|
|1921|     Comedy|    1|
|1921|      Drama|    1|
|1922|     Horror|    1|
|1923|     Action|    1|
|1923|     Comedy|    2|
|1923|      Drama|    2|
|1923|     Horror|    1|
|1923|    Romance|    1|
|1924|     Action|    2|
|1924|  Adventure|    2|
|1924|     Comedy|    2|
|1924|      Drama|    2|
|1924|    Fantasy|    3|
|1924|    Romance|    2|
|1924|     Sci-Fi|    1|
|1924|   Thriller|    1|
|1925|  Adventure|    2|
|1925|     Comedy|    2|
|1925|      Drama|    2|
|1925|    Romance|    2|
|1925|        War|    1|
|1926|  Adventure|    1|
|1926|     Comedy|    2|
|1926|      Drama|    3|
|1926|    Fantasy|    1|
|1926|     Horror|    1|
|1926|    Romance|    1|
|1926|        War|    1|
|1927|     Comedy|    1|
|1927|      Crime|    1|
|1927|      Drama|    5|
|1927|     Horror|    1|
|1927|    Musical|    1|
|1927|    Mystery|    1|
|1927|    Romance|    2|
|1927|     Sci-Fi|    1|
|1927|   Thriller|    1|
|1928|  Animation|    1|
|1928|   Children|    1|
|1928|     Comedy|    3|
|1928|      Drama|    1|
|1928|    Musical|    1|
|1928|    Romance|    1|
|1929|     Comedy|    1|
|1929|Documentary|    1|
|1929|    Fantasy|    1|
|1929|    Musical|    2|
|1930|     Action|    1|
|1930|     Comedy|    1|
|1930|      Drama|    4|
|1930|    Musical|    1|
|1930|    Romance|    1|
|1930|        War|    1|
|1931|     Action|    1|
|1931|     Comedy|    4|
|1931|      Crime|    3|
|1931|      Drama|    9|
|1931|  Film-Noir|    1|
|1931|     Horror|    3|
|1931|    Musical|    1|
|1931|    Mystery|    1|
|1931|    Romance|    3|
|1931|     Sci-Fi|    1|
|1931|   Thriller|    1|
|1931|    Western|    1|
|1932|     Comedy|    3|
|1932|      Crime|    3|
|1932|      Drama|    4|
|1932|  Film-Noir|    1|
|1932|     Horror|    2|
|1932|    Romance|    4|
|1932|        War|    1|
|1933|     Action|    1|
|1933|  Adventure|    2|
|1933|   Children|    1|
+----+-----------+-----+
only showing top 100 rows